body {
    background: #000;
    height: 100vh;
}

.profile {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
}

h1,
h2 {
    display: table;
    margin: 5px auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.25rem;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    margin: 0 10px;
}

.icons a svg {
    height: 48px;
    width: 48px;
    fill: #ffffff;
}

.icons a svg:hover {
    fill: #383a3e;
}

.line {
    background: #ffffff;
    height: 2px;
    width: 100px;
    display: block;
    margin: 20px auto;
}

.box {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}

#partymode,
#partymode:hover {
    color: #000000;
}