body {
    background: #000;
    height: 100vh;
}

.profile {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    animation: fade-in 2s;
}

h1,
h2 {
    display: table;
    margin: 5px auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    animation: fade-in 2s;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.25rem;
}

.line {
    background: #ffffff;
    height: 2px;
    width: 100px;
    display: block;
    margin: 20px auto;
    animation: fade-in 2s;
}

.icons-container {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.icons a {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.icons a svg {
    height: 48px;
    width: 48px;
    fill: #ffffff;
}

.x {
    font-size: 66px;
    text-decoration: none;
    color: #fff;
    margin-top: -14px !important;
    animation-delay: 1000ms;
}

.icons a svg:hover, .x:hover {
    fill: #383a3e;
}

.play {
    animation-delay: 1100ms;
}
.linkedin {
    animation-delay: 1200ms;
}
.github {
    animation-delay: 1300ms;
}
.mail {
    animation-delay: 1400ms;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}